.row{
    background:#fff;
    border-radius:5px;
}

.row-scroll {
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.modal{
    background-color: #fff;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    height: 75px;
    width: 300px;
    margin: auto;
    margin-top: 10%;
}

.row-scroll{
height: 100%;
background-color: #fff;
border-radius: 7px;
}

h1{
    margin-top:3%;
    margin-bottom:3%;
    color: rgb(255, 255, 255)!important;
    }

tr:hover {
    background-color: #fff!important;
}

table {
    border-collapse: collapse;
    border: 0px;
    background:#fff!important;
    border-radius:7px;
    margin: 0%;
}

table thead {
    background-color: #b4c3e5!important;
}

thead th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

thead th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

table td {
    background-color: transparent;
}

table th {
    background-color: #b4c3e5;
    margin: 2px!important;
    border-bottom: medium;
    border-left: 0px solid #141414
}

#table-card {
    width: 97%!important;
}


.container {
    border-radius: 7px;
    height: 100%;
}

.card {
    display: inline-block;
    width: 100%!important;
    border-radius: 7px;
  /*  background-color: #b4c3e5!important;*/
}

td {
    text-decoration: #000000;
    border-right-style: hidden;
    border: none!important;
    border-bottom: dashed;
    border-color: #ffffff;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255)!important;
}

#clm1 {
    width: 18%;
}

#clm2 {
    width: 23%;
}

#clm3 {
    width: 8%;
    border-bottom: dotted;
    border-width: 2px;
    border-style: solid;
    border-bottom-style: dotted;
}

#clm4 {
    width: 25%;
}

#clm4 {
    width: 25%;
}

@media all and (max-width: 770px) {
    #clm1 {
        width: 170%;
    }
    #clm2 {
        width: 170%;
    }
    #clm3 {
        width: 170%;
    }
    #clm4 {
        width: 170%;
    }
    #table-card {
        width: 87%!important;
    }
    table {
        width: 90%!important;
        height: 70%!important;
        margin: 5%!important;
    }
    table:not(.preset) td {
        display: block;
        text-align: left;
        width: 100%;
    }
    #tr {
        border-bottom-color: #fff!important;
        clear: both;
        height: 0px;
        border: 1px solid transparent;
        background: #fff!important;
        width: 50%!important;
        border-radius: 7px;
    }
}