/*profile style*/
h3{
    margin: .5.5rem!important;
}

#extras {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    width: 400px;
}

#userImg {
    width: 10%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    float: left;
    margin-left: 5%;
}

#user-inf {
    display: block;
}

#txt-username {
    padding-left: 13%;
    padding-top: 3%;
    margin-left: 3%;
    height: 12%;
}

#btnEditProfile {
    float: right;
    background-color: #fec62e;
    background: #fec62e;
    width: 25%;
}

#comentarios {
    height: 10%;
}

#profile {
    border-radius: 10px;
    margin-top: 3%;
    background: #ffffff;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.box-colored {
    box-sizing: border-box;
    float: left;
    width: 100%;
}

#friendImg {
    width: 7%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    float: left;
    margin-left: 0%;
}

.item {
    position: relative;
    float: left;
}

.item h2 {
    text-align: center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
    stroke-dasharray: 440;
    /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 440;
}

.html .circle_animation {
    -webkit-animation: html 1s ease-out forwards;
    animation: html 1s ease-out forwards;
}

.css .circle_animation {
    -webkit-animation: css 1s ease-out forwards;
    animation: css 1s ease-out forwards;
}

@-webkit-keyframes html {
    to {
        stroke-dashoffset: 80;
        /* 50% would be 220 (half the initial value specified above) */
    }
}

@keyframes html {
    to {
        stroke-dashoffset: 80;
    }
}

@-webkit-keyframes css {
    to {
        stroke-dashoffset: 160;
    }
}

@keyframes css {
    to {
        stroke-dashoffset: 160;
    }
}

@media all and (max-width: 620px) {
    .info {
        float: left;
        margin: 5px;
        padding: 15px;
        max-width: 220px;
        text-align: center;
    }
    h3 {
        font-size: 1rem !important;
    }
    .box-colored {
        width: 200%;
        margin-left: 30%;
    }
    .primary {
        width: 150%;
        float: right;
        margin-right: -55%!important;
    }
    .item {
        position: relative;
        float: center;
        margin-left: 20px!important;
    }
    #header-info {
        height: 5%;
    }
    .ng-binding {
        margin-left: -0%;
    }
    #profile {
        border-radius: 10px;
        margin-top: 3%;
        background: #ffffff;
        padding: 3%;
        width: 90%;
        margin: 0 auto;
        margin-top: 3%;
    }
    #about-me {
        margin-left: -0%;
    }
    #mis-calificaciones {
        margin-left: -20%;
    }
    #btnEditProfile {
        float: right;
        background-color: #fec62e;
        background: #fec62e;
        width: 200%;
        margin-right: -100%!important;
    }
    input {
        width: 100%!important;
        margin-left: 0%!important;
    }
}


/*Galaxy 5S*/

@media all and (min-width: 319px) {
    #profile {
        width: 80%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 15%;
    }
    #mis-calificaciones {
        margin-left: -10%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
}


/*Galaxy 5S*/

@media all and (min-width: 360px) {
    #profile {
        width: 80%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 15%;
    }
    #mis-calificaciones {
        margin-left: -10%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
}


/*Iphone 6*/

@media all and (min-width: 376px) {
    #profile {
        width: 80%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 25%;
    }
    #mis-calificaciones {
        margin-left: -10%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
}


/*iphone 6Plus*/

@media all and (min-width: 411px) {
    #profile {
        width: 80%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 30%;
    }
    #mis-calificaciones {
        margin-left: -20%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
}

/*ipad*/

@media all and (min-width: 767px) {
    #profile {
        width: 85%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 10%;
    }
    #mis-calificaciones {
        margin-left: 0%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
    #cb{width:130%;}

}

/*normal view*/
@media all and (min-width: 620px) {
    #profile {
        width: 85%;
        margin-left: 5%;
    }
    
    .box-colored {
        margin-left: 10%;
    }
    
    #mis-calificaciones {
        margin-left: 0%;
    }
    
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
}



header {
    background-color: #FFF!important;
}

#friend-comment {
    margin-top: 0%;
}

canvas {
    width: 30%;
}

#title-graph {
    margin-left: -1%;
}
.title-graph{
    margin-top: 25%;
}

#txt-ocupacion {
    margin-top: 10px;
}

#extras {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    width: 400px;
}

#userImg {
    width: 12%;
    max-height: 12%;
    float: left;
}

#user-inf {
    display: block;
    height: 22%;
}

#txt-username {
    padding-left: 18%;
    padding-top: 9%;
    margin-left: 3%;
    height: 12%;
}

#btnEditProfile {
    float: right;
    background-color: #fec62e;
    background: #fec62e;
    width: 25%;
}

#comentarios {
    height: 10%;
}

#profile {
    border-radius: 10px;
    margin-top: 3%;
    background: #ffffff;
    padding: 1% 0%;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 3%;
}

.box-colored {
    box-sizing: border-box;
    float: left;
    width: 100%;
}

#friendImg {
    width: 8%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    float: left;
    margin-left: 0%;
}

.item {
    position: relative;
    float: left;
    width: 20%;
}

.item h2 {
    text-align: center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}


/*profile style*/

@media all and (max-width: 619px) {
    #user-inf {
        height: 100px;
    }
    #friendImg {
        width: 25%;
    }
    #txt-friend-name {
        float: left;
    }
    .row {
        margin-top: -15%;
    }
    #header-info {
        height: 50%;
        text-align: left;
    }
    #userImg {
        width: 50px;
        height: 50px;
        max-height: 100%;
        max-width: 100%;
        float: left;
    }
    .item {
        width: 40%;
        margin-left: -30%;
    }
    .box-colored .info {
        margin-left: -10%;
    }
    .info {
        float: left;
        margin: 5px;
        padding: 15px;
        max-width: 220px;
        text-align: center;
    }
    #pieUsuario {
        margin-top: 70%;
    }
    #box-calificaciones {
        margin-left: -20%;
    }
    #mis-calificaciones {
        margin-left: 15%;
    }
    .info {
        float: left;
        margin: 5px;
        padding: 15px;
        max-width: 220px;
        text-align: center;
    }
    h3 {
        font-size: 1rem !important;
    }
    .box-colored {
        width: 200%;
        margin-left: 10%;
    }
    .primary {
        width: 150%;
        float: right;
        margin-right: -55%!important;
    }
    .item {
        position: relative;
        float: center;
        margin-left: 20px!important;
        width: 40%;
    }
    .ng-binding {
        margin-left: 5%;
    }
    #profile {
        border-radius: 10px;
        margin-top: 3%;
        background: #ffffff;
        padding: 3%;
        width: 90%;
        margin: 0 auto;
        margin-top: 3%;
    }
    #about-me {
        margin-left: 0%;
    }
    #btnEditProfile {
        float: right;
        background-color: #fec62e;
        background: #fec62e;
        width: 200%;
        margin-right: -90%!important;
    }
    h2 {
        font-size: 1.2em;
        vertical-align: center;
        margin-top: -15%!important;
    }
    #about-me {}
    .box-colored .info {
        margin-left: 10%!important;
    }
}

@media only screen and (max-width: 960px) and (min-width: 620px) {
    #txtProveedor {
        margin-left: 5%;
    }
    #mis-calificaciones {
        margin-left: 0%;
    }
    h2 {
        margin-top: -40%!important;
    }
}


/*Galaxy 5S*/

@media all and (min-width: 319px) {
    #profile {
        width: 80%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 15%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
}


/*Galaxy 5S*/

@media all and (min-width: 360px) {
    #profile {
        width: 80%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 15%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
}


/*Iphone 6*/

@media all and (min-width: 376px) {
    #profile {
        width: 80%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 25%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
}


/*iphone 6Plus*/

@media all and (min-width: 411px) {
    #profile {
        width: 80%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 30%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
}


/*ipad*/

@media all and (min-width: 767px) {
    #profile {
        width: 85%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 10%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
    #cb {
        width: 130%;
    }
}


/*normal view*/

@media all and (min-width: 620px) {
    #profile {
        width: 85%;
        margin-left: 5%;
    }
    .box-colored {
        margin-left: 5%;
    }
    #txtProveedor {
        margin-left: 10%;
        margin-top: -5%
    }
    #btnEditProfile {
        width: 30%;
    }
}
