/*register-user  lot registration*/

header {
    background-color: #FFF;
}
body{
    overflow-x: hidden;
}

p{
    color: #ff0000;
}

#user{
margin-top: 12px;
}

#lblUsername{
   position: absolute; 
   top:8px;
   right: 90px;
}

#userImage{
 position: absolute; 
   top:12px!important;
}


#detalles-extras {
    flex: 1 0 0;
}

#fotos-siguiente {
    flex: 1 0 0;
}

#selectable {
    columns: 2;
}

#ajust {
    width: 100%;
}

.item {
    flex: 1 1 0;
}

#modalidad {
    flex-basis: 20%;
}

#horario {
    flex-basis: 80%;
}

#precio {
    flex-basis: 50%;
}

#precioinput {
    width: 50%
}

#fin {
    flex-basis: 50%;
}

#logout {
    position: fixed;
    bottom: 0;
    right: 0;
}

#logo{
margin-top: 3px;
}

#k {
    width: 100%;
}

input {
    width: 100%;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selected {
    background-color: #1340a6!important;
    color: #fff;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

.not-selected {
    width: 100%!important;
    background-color: #fff!important;
    color: #1340a6;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

hr {
    width: 100.5%;
    margin-left: -.2%;
}

.circle-gray {
    background-color: gray;
    margin: 0px auto;
    margin-left: 5px;
}

.circle-blue {
    margin-left: 48%!important;
    background-color: #1340a6;
    margin: 0px auto;
}

#form-container {
    margin-top: -2%;
}


@media (min-width: 651px) {
    .fotos{
    min-height: 125px;
    min-width: 125px;
    max-width: 125px;
    max-width: 125px;
} 
}


@media (max-width: 650px) {
.fotos {
    min-height: 70px!important;
    min-width: 70px!important;
    max-width: 70px!important;
    max-width: 70px!important;
    margin-left: 13%;
}

form{
width: 85%;
margin-left: -10%!important;
}

#div-fotos{
    width: 100%!important;
    margin: auto;
    margin-left: 5%;
}

.button-parkner {
    width: 92%;   
}

#roof,#cam,#key,#guardian,#carwash,#access{
    margin-left: 20%;
}

}