<br>
<br>
<div id="div-general">
  <div class="row">
    <div id="carrousel">
      <a href="{{vm.lotFirstImage}}" target="_blank">
             <img class="fotos" border="5" ng-src='{{vm.lotFirstImage}}'/>
             </a>
    </div>
    <div id="wrapper">
      <div class="circle-blue"></div>
      <a ui-sref="lot-details.lot-details-2">
        <div class="circle-gray"></div>
      </a>
    </div>
    <h3 id="txt-subtitle">Ubicación</h3>
    <h5>{{vm.address}}</h5>
    <h3 class="txt-description">Tipo</h3>
    <h5 class="txt-description">Estacionamiento abierto-casa</h5>
    <h3 class="txt-description">Comodidades</h3>
    <button class="btn-left" ng-class="vm.guardian ? 'selected' : 'not-selected'">Guardian</button>
    <button class="btn-right" ng-class="vm.cam ? 'selected' : 'not-selected'">Cámara de seguridad</button>
    <button class="btn-left" ng-class="vm.roof ? 'selected' : 'not-selected'">Techado</button>
    <button class="btn-right" ng-class="vm.carWash ? 'selected' : 'not-selected'">Lavado de Auto</button>
    <button class="btn-left" ng-class="vm.access ? 'selected' : 'not-selected'">Acceso 24h</button>
    <button class="btn-right" ng-class="vm.control ? 'selected' : 'not-selected'">Control Remoto</button>
    <a id="uiref" ui-sref="lot-details.lot-details-2">
      <button id="btn-siguiente">Siguiente</button>
    </a>
  </div>
</div>
<style>
.selected {
  background-color: #1340a6!important;
  color: #fff;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
}

.not-selected {
  background-color: #fff!important;
  color: #1340a6;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
}
</style>