<div class="row" class="col-sm-12 col-md-5 col-lg-7">
  <div ng-show="vm.status == 200" class="alert alert-danger">
    <div id="show-result" class="row col-sm-12 ">
      <div class="card fluid">
        <div class="section">
          <h3>{{vm.msg}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <form id="form-register" name="vehicleForm" ng-submit="vm.register(vehicle)" novalidate ng-hide="vm.status == 200">
    <h3>Registrar Vehículo</h3>
    <div class="input-group fluid error-d">
      <input class="error-d width-100" type="text" name="make" ng-model="vehicle.make" maxlength="20" required placeholder="Marca">
      <p class="txt-error-left" ng-show="vehicleForm.make.$invalid && !vehicleForm.make.$pristine">Ingrese la marca del vehículo</p>
    </div>
    <div class="input-group fluid error-d">
      <input class="error-d width-100" type="text" name="model" ng-model="vehicle.model" maxlength="20" required placeholder="Modelo">
      <p class="txt-error-left" ng-show="vehicleForm.model.$invalid && !vehicleForm.model.$pristine">Ingrese el modelo del vehículo</p>
    </div>
    <div class="input-group fluid error-d">
      <input class="error-d width-100" type="text" name="plate" ng-model="vehicle.plate" maxlength="20" required placeholder="Placa">
      <p class="txt-error-left" ng-show="vehicleForm.plate.$invalid && !vehicleForm.plate.$pristine">Ingrese la placa del vehículo</p>
    </div>
    <div class="input-group fluid error-d">
      <input class="error-d width-100" type="text" name="color" ng-model="vehicle.color" required placeholder="Color">
      <p class="txt-error-left" ng-show="vehicleForm.color.$invalid && !vehicleForm.color.$pristine">Ingrese color del vehículo</p>
    </div>
    <div id="div-registrate" class="input-group fluid">
      <button id="btn-registrate" type="submit" class="login-button" ng-disabled="vehicleForm.$invalid">Agregar</button>
      <div ng-show="vm.error" class="width-100 alert-danger">{{vm.error}}</div>
    </div>
  </form>
</div>